@import 'node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Roboto", sans-serif;
  color: var(--paragraf-color);
  background-color: var(--main-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.variant-set, .filter-list, .footer-socials__list, .companies-container__list, .social-list, .team-container__list, .examples-container__list, .features-space, .form-terms, .close-button, .side-nav__links, .page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

:root {
  /* Fonts */
  --paragraf-color: #757575;
  --headings-color: #212121;
  --additional-color: #ffffff;
  --hover-color: #2196f3;
  --logo-color: #000000;
  /* Background */
  --main-background: #ffffff;
  --fourth-section-background: #f5f5f5;
  --fourth-section-list: #f5f4fa;
  --additional-background: #2f303a;
  /* Background-Overlays */
  --third-section-overlay: rgba(47, 48, 58, 0.8);
  --variant-menu-overlay: rgba(33, 150, 243, 0.9);
  --backdrop-overlay: rgba(0, 0, 0, 0.2);
  /* Buttons */
  --hero-btn-hover: #188ce8;
  --button-hover: #2196f3;
  --button-background: #f5f4fa;
  /* Icons */
  --primary-icon-color: #afb1b8;
  /* Cubic-Bezier */
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Fonts */
/* Background */
/* Background-Overlays */
/* Buttons */
/* Icons */
/* Cubic-Bezier */
.btn {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  border: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.all-nav {
  border-bottom: 1px solid #ECECEC;
  background-color: #ffffff;
}
.all-nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__header-part {
  color: #000000;
}

.page-nav {
  gap: 93px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  padding-left: 0;
}
.nav-menu__link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--headings-color);
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}
.nav-menu__link:hover, .nav-menu__link:focus {
  color: #2196f3;
}
.nav-menu__link--current {
  color: #2196f3;
}
.nav-menu__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.side-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  padding-left: 0;
}
.side-nav__links {
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: inherit;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}
.side-nav__links:hover, .side-nav__links:focus {
  color: #2196f3;
}
.side-nav .side-nav__icon {
  fill: currentColor;
}
.side-nav .side-nav__icon:hover, .side-nav .side-nav__icon:focus {
  fill: #2196f3;
}

.hero-section {
  text-align: center;
  color: #ffffff;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background-photo.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-container__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  height: 120px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}
.hero-container_btn {
  width: 216px;
  height: 50px;
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
}
.hero-container_btn:hover, .hero-container_btn:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--time-function), visibility 250ms var(--time-function);
  transition: opacity 250ms var(--time-function), visibility 250ms var(--time-function);
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 528px;
  height: 100%;
  max-height: 581px;
  background-color: #ffffff;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  margin-top: 8px;
  padding: 6px;
  z-index: 1;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.close-button__icon {
  width: 18px;
  height: 18px;
}

.form {
  position: relative;
  color: currentColor;
}
.form__title {
  margin-bottom: 12px;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.form__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
}
.form__btn:hover {
  background-color: #188ce8;
}

.form-field {
  margin-bottom: 10px;
}
.form-field__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-field__input-area {
  position: relative;
}
.form-field__input {
  margin: 0;
  padding-left: 42px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: none;
  -webkit-transition: border-color 250ms var(--time-function);
  transition: border-color 250ms var(--time-function);
}
.form-field__input:focus {
  border-color: #2196f3;
}
.form-field__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--time-function);
  transition: fill 250ms var(--time-function);
}
.form-field__input:focus + .form-field__icon {
  fill: #2196f3;
}

.form-comment__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-comment__textarea {
  display: block;
  padding: 12px 16px;
  width: 100%;
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0;
  outline: none;
}
.form-comment__textarea:focus {
  border-color: #2196f3;
}
.form-comment__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-terms {
  gap: 9px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.form-terms__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.form-terms__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-terms__link {
  color: #2196f3;
  margin-left: 5px;
}

.form-terms__label::before {
  content: "";
  display: inline-block;
  margin-right: 9px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-color: transparent;
  -webkit-transition: background-color 250ms var(--time-function), border-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function), border-color 250ms var(--time-function);
}
.form-terms__checkbox:checked + .form-terms__label::before {
  background-color: #2196f3;
  background-image: url(../images/icon-checkbox.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.features {
  background-color: #ffffff;
}

.features-container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-left: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: currentColor;
}
.features-container__item {
  width: 270px;
}
.features-container__title {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-space {
  width: 100%;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.features-space__icon {
  width: 70px;
  height: 70px;
}

.examples {
  background-color: var(--main-background);
  padding-top: 0;
}

.examples-container__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.examples-container__list {
  gap: 30px;
}
.examples-container__item {
  position: relative;
}

.examples-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.examples-overlay__text {
  margin-top: 27px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team-container__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.team-container__list {
  gap: 30px;
}

.team-card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team-card__item {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team-card__prof {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  gap: 10px;
}
.social-list__link {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 12px;
  display: block;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--hover-color);
}
.social-list__icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  -webkit-transition: fill 250ms var(--time-function);
  transition: fill 250ms var(--time-function);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.companies-container__title {
  color: #212121;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.companies-container__list {
  gap: 30px;
}
.companies-container__link {
  display: block;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  -webkit-transition: border-color 250ms var(--time-function);
  transition: border-color 250ms var(--time-function);
}
.companies-container__link:hover, .companies-container__link:focus {
  border-color: #2196f3;
  outline: none;
}
.companies-container__icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  -webkit-transition: fill 250ms var(--time-function);
  transition: fill 250ms var(--time-function);
}
.companies-container__link:hover .companies-container__icon, .companies-container__link:focus .companies-container__icon {
  fill: #2196f3;
}

.footer-section {
  background-color: var(--additional-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 93px;
  padding-left: 0;
  padding-right: 0;
}

.logo__footer-part {
  color: #ffffff;
}

.logo--footer {
  margin-bottom: 20px;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-info__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-info__adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}
.footer-info__adress__adress:hover, .footer-info__adress__adress:focus {
  color: #2196f3;
}
.footer-info__contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}
.footer-info__contacts__contacts:hover, .footer-info__contacts__contacts:focus {
  color: #2196f3;
}

.footer-socials__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-socials__list {
  gap: 10px;
}
.footer-socials__link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 12px;
  display: block;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
}
.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: #2196f3;
}
.footer-socials__icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 12px;
}
.footer-form__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.footer-form__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  padding: 15px;
}
.footer-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 28px;
  gap: 10px;
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
}
.footer-form__btn:hover {
  background-color: #188ce8;
}
.footer-form__icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.variants-section {
  border-color: #ffffff;
}

.filter-list {
  gap: 8px;
  margin-bottom: 50px;
}
.filter-list__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms var(--time-function), color 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
  transition: background-color 250ms var(--time-function), color 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
  transition: background-color 250ms var(--time-function), color 250ms var(--time-function), box-shadow 250ms var(--time-function);
  transition: background-color 250ms var(--time-function), color 250ms var(--time-function), box-shadow 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
}
.filter-list__btn:hover, .filter-list__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.variant-set {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  gap: 30px;
}

.variant-card__poster {
  position: relative;
  overflow: hidden;
}
.variant-card__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--time-function);
  transition: -webkit-box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
}
.variant-card__link:hover, .variant-card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.variant-card__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.variant-card__example {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.variant-card__use {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.variant-card-overlay {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--time-function);
  transition: -webkit-transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
}
.variant-card__link:hover .variant-card-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.variant-card-overlay__text {
  margin: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */