// HEADER
.all-nav{
  border-bottom: 1px solid #ECECEC;
    background-color: $main-background;

    &__container {
      display: block;
      padding: 16px ;
      margin: 0;

      @media screen and (min-width:768px){
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }

}
.logo__header-part{
  color: $logo-color;
}

.page-nav {
  display: block;

  @media screen and (min-width:768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 93px;
  }
  
}

.nav-menu{
  display: none;

  @media screen and (min-width:768px) {
    display: flex;
    gap: 50px;
    padding-left: 0;
  }
  
    &__link {
    position: relative;
    display: block;
    padding: 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--headings-color);
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms var(--time-function);

      &:hover,
      &:focus {
        color: $hover-color;
      }
    
      &--current {
        color: $hover-color;
      }
    
      &--current::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $hover-color;
        border-radius: 2px;
      }
  }
}

.side-nav {
  display: none;

  @media screen and (min-width:768px) {
    display: flex;
    justify-content: flex-start;
    // align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (min-width:1200px) {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-left: 0;
  }
  
    &__links {
      display: flex;
      align-items: center;
      
      gap: 8px;
  
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      color: inherit;
      letter-spacing: 0.02em;
      text-decoration: none;
  
      transition: color 250ms var(--time-function);

      &:hover,
      &:focus {
        color: $hover-color;
      }

      @media screen and (min-width:1200px) {
        justify-content: center;
      }
    }
    
    .side-nav__icon {
      fill: currentColor;

      &:hover,
      &:focus {
        fill: $hover-color;
      }
    }

   .side-nav__icon--envelope{

    width: 14px;
    height: 10px;

    @media screen and (min-width:1200px){
      width: 16px;
      height: 12px
    }
   }

   .side-nav__icon--smartphone{

    width: 10px;
    height: 14px;

    @media screen and (min-width:1200px) {
      width: 12px;
      height: 16px;
    }
      
   }
}







