.hero-section{
    text-align: center;
    color: $additional-color;
    padding-top: 118px;
    padding-bottom: 118px;
    background-size: cover;

    @media screen and (min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
   

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-background-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;
    margin: 0 auto;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-background-mobile@2x.jpg')
    }

    @media screen and (min-width:481px){
        
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-background-tablet.jpg');
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-background-tablet@2x.jpg')
            }
    }

    @media screen and (min-width:769px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-background-desktop.jpg');

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-background-desktop@2x.jpg')
            }
    }

    
}

.hero-container{
    &__title{
        height: 84px;
        max-width: 360px;

        font-weight: 900;
        font-size: 1.62;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $additional-color;
        
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;

        @media screen and (min-width:1200px){
            max-width: none;
            width: 696px;
            height: 120px;
            font-size: 44px;
            line-height: 1.36;
        }
    }

    &_btn{
        width: 216px;
        height: 50px;
    
        transition: background-color 250ms var(--time-function);

        &:hover,
        &:focus {
            background-color: $hero-btn-hover;
        }
    }
}