.team{
    background-color: $fourth-section-list;
}

.team-container{

    &__title{
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: $headings-color;
    
        margin-bottom: 50px;
    }

    &__list {
        @extend %centeredFlex;
        flex-wrap: wrap;
        gap: 30px;
    }
}
.team-card{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $main-background;
    width: calc((100% - 0*30px)/1);

    @media screen and (min-width:768px){
        width: calc((100% - 1*30px)/2);
    }

    @media screen and (min-width:1200px) {
        width: calc((100% - 3*30px)/4);
    }
    


    &__item{
        background-color: $main-background;
        padding-top: 30px;
        padding-bottom: 30px;
        
        
    }

    &__name{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: $headings-color;
        margin-bottom: 10px;
    }

    &__prof{
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
    
        margin-bottom: 16px;
    }
}

.social-list {
    @extend %centeredFlex;
    gap: 10px;
    
    &__link{
        background-color: $additional-color;
        border-radius: 50%;
        padding: 12px;
        display: block;
        width: 44px;
        height: 44px;
    
        transition: background-color 250ms var(--time-function);

        &:hover,
        &:focus {
            background-color: var(--hover-color);
        }
    }

    &__icon{
        fill: $primary-icon-color;
        width: 20px;
        height: 20px;
        transition: fill 250ms var(--time-function);

        .social-list__link:hover &,
        .social-list__link:focus &{
            fill: $additional-color;
        }
    }
}


