.btn{
    background-color: $button-hover;
    color: $additional-color;
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
    border: 0;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
.visually-hidden{
    @extend %visually-hidden;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $hover-color;
    text-decoration: none;
    letter-spacing: 0.03em;
}




