.btn{
    background-color: $button-hover;
    color: $additional-color;
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
    border: 0;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
.visually-hidden{
    @extend %visually-hidden;
}


